EMAIL_USER=example@gmail.com
EMAIL_PASS=xxxx xxxx xxxx xxxx

TODOIST_API_TOKEN= your 40 character Todoist API key

TASK_MANAGER=todoist/google
GOOGLE_TASKLIST_NAME=KCLS Stuff
TODOIST_PROJECT_NAME=KCLS Stuff