# Ignore Google API Keys and user IDs
credentials.json
token.json
users.json

# Ignore log files and environment variables
library_bot_log.txt
.env

# Ignore Python cache files (Python creates these automatically)
__pycache__/

# Ignore the virtual environment
.venv/